@model HMSPortal.Application.ViewModels.Appointment.AddAppointmentViewModel

@{
    ViewData["Title"] = "New Appointment";
    var successMessage = TempData["Success"] as string;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />



<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Add Appointment</h3>
                <form method="post">
                    @Html.AntiForgeryToken()
                    <input asp-for="Patients" hidden="hidden" />
                    <input asp-for="Patients" hidden="hidden" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="patient-name">Patient Name</label>
                            <select class="form-control" id="patient-name" asp-for="PatientId">
                                <option value="">Select Patient</option>
                                @if(Model.Patients != null)
                                {
                                    @foreach (var patient in Model.Patients)
                                    {
                                        <option value="@patient.Value">@patient.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="department">Department</label>
                            <select asp-for="Department" class="form-control" id="department">
                                <option>Neuro</option>
                                <option>Ortho</option>
                                <option>General</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="doctor-name">Doctor Name</label>
                            <select class="form-control" id="doctor-name" asp-for="DoctorId">
                                <option value="">Select Doctor</option>
                                @if (Model.Doctors != null)
                                {
                                    @foreach (var doctor in Model.Doctors)
                                    {
                                        <option value="@doctor.Value">@doctor.Text</option>
                                    }
                                }
                                
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="appointment-date">Appointment Date</label>
                            <input asp-for="Date" type="date" placeholder="Appointment Date" class="form-control" id="appointment-date" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="time-slot">Time Slot</label>
                            <select asp-for="TimeSlot" class="form-control" id="time-slot" required>
                                <option>10AM-11AM</option>
                                <option>11AM-12PM</option>
                                <option>12PM-01PM</option>
                                <option>2PM-3PM</option>
                                <option>3PM-4PM</option>
                                <option>4PM-5PM</option>
                                <option>6PM-7PM</option>
                                <option>7PM-8PM</option>
                                <option>8PM-9PM</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="token-number">Token Number <small>(Auto Generated)</small></label>
                            <input type="text" placeholder="Token Number" class="form-control" id="token-number">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="problem">Problem</label>
                            <textarea asp-for="ProblemDescrion" placeholder="Problem" class="form-control" id="problem" rows="3"></textarea>
                        </div>
                        <div class="form-check col-md-12 mb-2">
                            <div class="text-left">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="ex-check-2" required>
                                    <label class="custom-control-label" for="ex-check-2">Please Confirm</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- Alerts-->
                @if (!string.IsNullOrEmpty(successMessage))
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Successfully Done!</strong> Appointment token Generated
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                <!-- /Alerts-->
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>
<!-- /Main Content -->
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
 
        $('#time-slot').select2({
            width: '522px' // Correct way to set width
        
        });
        $('#patient-name').select2({
            width: '522px' // Correct way to set width

        });
        $('#doctor-name').select2({
            width: '522px' // Correct way to set width

        });
        $('#department').select2({
            width: '522px' // Correct way to set width

        });
        
        
    });

</script>

<script>
    function reloadPage() {
        location.reload();
    }
</script>

<script src="~/js/custom.js"></script>
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<script src="https://cdn.tiny.cloud/1/d1fpkxihlzdu61yllazo0c9ehlxeuk04a3awulg82m1vo2b4/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

