@model HMSPortal.Application.ViewModels.Admin.GetAdminViewModel

@{
	ViewData["Title"] = "Detail";
	var profileImage = !String.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "images/doctor.jpg";
	var successMessage = TempData["Success"] as string;

}

<!-- /Back to Top -->
<!-- Jquery Library-->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- Popper Library-->
<script src="js/popper.min.js"></script>
<!-- Bootstrap Library-->
<script src="js/bootstrap.min.js"></script>
<!-- Custom Script-->
<script src="js/custom.js"></script>
<!-- Main Content -->
<div class="container-fluid">
	@if (ViewData.ModelState["error-V"] != null && ViewData.ModelState["error-V"].Errors.Count > 0)
	{

		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Validation Error!</strong> @ViewData.ModelState["error-V"].Errors[0].ErrorMessage.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
	}
	@if (!string.IsNullOrEmpty(successMessage))
	{

		<div class="alert alert-info alert-dismissible fade show" role="alert">
			<strong>@successMessage</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
	}
	<div class="row">
		<!-- Widget Item -->
		<div class="col-md-6">
			<div class="widget-area-2 proclinic-box-shadow">
				<h3 class="widget-title">Bio Data</h3>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><strong>Name</strong></td>
								<td> @Model.FirstName   @Model.LastName</td>
							</tr>
							<tr>
								<td><strong>Email</strong></td>
								<td>@Model.Email</td>
							</tr>
							<tr>
								<td><strong>Date Of Birth</strong> </td>
								<td>@Model.DateOfBirth.ToString("dd/mm/yyyy")</td>
							</tr>
							<tr>
								<td><strong>Role</strong></td>
								<td>@Model.Role </td>
							</tr>
							<tr>
								<td><strong>Gender</strong></td>
								<td>@Model.Gender </td>
							</tr>
						
							<tr>
								<td><strong>Phone </strong></td>
								<td>@Model.Phone</td>
							</tr>

						</tbody>
					</table>
				</div>

				<!--Export links-->
				<!-- /Export links-->
				<a asp-action="Edit" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-success mb-3"><span class="ti-pencil-alt"></span> Edit Admin</a>
				<!-- /Export links-->

				<button type="button" class="btn btn-primary btn-info mb-3" data-toggle="modal" data-target=".bd-example-modal-sm"><span class="ti-eye-alt"></span>Profile Picture</button>
				<!-- Modal Button-->
				<!-- Modal Popup-->
				<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="mySmallModalLabel">
									Profile Picture
								</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>

							</div>
							<div class="modal-body">

								<div class="row">
									<div class="col-md-12">
										<img class="card-img-top" src="@profileImage" alt="Card image">
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- /Widget Item -->
		<!-- Widget Item -->

		<!-- /Widget Item -->
		<!-- Widget Item -->
		<!-- /Widget Item -->
	</div>
</div>
