@using HMSPortal.Application.ViewModels
@using static HMSPortal.Models.Enums
@model DashBoardViewModel
<link rel="stylesheet" href="charts/css/morris.css">
<!-- jvectormap -->
<link rel="stylesheet" href="css/jquery-jvectormap.css">
<link rel="stylesheet" href="datatable/dataTables.bootstrap4.min.css">

<script src="js/modernizr.min.js"></script>
<div class="row">
	<!-- Widget Item -->
	<div class="col-md-4">
		<div class="widget-area proclinic-box-shadow color-red">
			<div class="widget-left">
				<span class="ti-user"></span>
			</div>
			<div class="widget-right">
				<h4 class="wiget-title">Patients</h4>
				<span class="numeric color-red">@ViewBag.PatientCount</span>
				<p class="inc-dec mb-0"><span class="ti-angle-up"></span> @* +20% Increased *@</p>
			</div>
		</div>
	</div>
	<!-- /Widget Item -->
	<!-- Widget Item -->
	<div class="col-md-4">
		<div class="widget-area proclinic-box-shadow color-green">
			<div class="widget-left">
				<span class="ti-bar-chart"></span>
			</div>
			<div class="widget-right">
				<h4 class="wiget-title">Appointments</h4>
				<span class="numeric color-green">@ViewBag.AppointmentCount</span>
				<p class="inc-dec mb-0"><span class="ti-angle-down"></span> @* -15% Decreased *@</p>
			</div>
		</div>
	</div>
	<!-- /Widget Item -->
	<!-- Widget Item -->
	<div class="col-md-4">
		<div class="widget-area proclinic-box-shadow color-yellow">
			<div class="widget-left">
				<span class="ti-user"></span>
			</div>
			<div class="widget-right">
				<h4 class="wiget-title">Doctors</h4>
				<span class="numeric color-yellow">@ViewBag.DoctorCount</span>
				<p class="inc-dec mb-0"><span class="ti-angle-up"></span></p>
			</div>
		</div>
	</div>
	<!-- /Widget Item -->
</div>



<div class="container-fluid">

	<div class="row">
		<!-- Widget Item -->
		<div class="col-md-12">
			<div class="widget-area-2 proclinic-box-shadow">
				<h3 class="widget-title">Appointments List</h3>
				<div class="table-responsive mb-3">
					<table id="tableId" class="table table-bordered table-striped">
						<thead>
							<tr>

								<th>Appointment ID</th>
								<th>Patient ID</th>
								<th>Date</th>
								<th>Slot</th>
								<th>Doctor Name</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.AllAppointments)
							{
								<tr>

									<td>@item.ReferenceNumber</td>
									<td>@item.PatientRef</td>
									<td>@item.Date.ToString("dd/MMM/yyyy")</td>
									<td>@item.TimeSlot</td>
									<td>@item.DoctorName</td>
									<td>
										@if (item.Status == "UpComming"){
											<span class="badge badge-success">@item.Status</span>
										}
										else
										{
											<span class="badge badge-danger">@item.Status</span>
										}
									</td>
									<td>
										@if (item.DoctorId == null && item.Status == "UpComming")
										{
											<a asp-controller="Appointment" asp-action="Assign" asp-route-id="@item.ReferenceNumber" class="badge badge-success">Click to Assign</a>
										}
										
									</td>
								</tr>
							}

						</tbody>
					</table>

					
					
				</div>
			</div>
		</div>
		<!-- /Widget Item -->
	</div>
</div>
<a id="back-to-top" href="#" class="back-to-top">
	<span class="ti-angle-up"></span>
</a>
<!-- /Back to Top -->
<!-- Jquery Library-->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- Popper Library-->
<script src="js/popper.min.js"></script>
<!-- Bootstrap Library-->
<script src="js/bootstrap.min.js"></script>

<!-- Datatable  -->
<script src="datatable/jquery.dataTables.min.js"></script>
<script src="datatable/dataTables.bootstrap4.min.js"></script>

<!-- Custom Script-->
<script src="js/custom.js"></script>
<script src="js/custom-datatables.js"></script>
